<div class="navbar navbar-inverse navbar-static-top navigationBar" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand navbarBrand" rel="home" routerLink="">MANUALIZER</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse" id="myNavbar">

    <ul class="nav navbar-nav">
      <li><a routerLink="/users">{{ 'Users' | translate:lang }}</a></li>
      <li><a routerLink="/new">{{ 'New' | translate:lang }}</a></li>
      <li><a routerLink="/popular">{{ 'Popular' | translate:lang }}</a></li>
    </ul>

    <!--<div class="">-->
    <!--<form class="navbar-form" role="search">-->
    <div class="input-group col-lg-offset-2 col-lg-6 col-md-offset-2 col-md-5 rightnavbar">
      <div class="search menu configuration col-lg-8 col-md-7 ">
        <input type="text" class="form-control input_design" placeholder="Search" [(ngModel)]="searchparam"
               id="srch-term">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" [routerLink]="['/search', searchparam]"><i
            class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
      <div *ngIf="(!auth0Service.isAuthenticated())" class="inline_head">
        <a class="login navbar-brand" (click)="auth0Service.login()">{{ 'Login' | translate:lang }}</a>
      </div>
      <div *ngIf="(auth0Service.isAuthenticated())" class=" inline_head">
        <a class="login navbar-brand userImageButton" [routerLink]="['/user', userId]">
          <img class="userImage" src="{{userImage}}"/>
        </a>
      </div>
      <div *ngIf="(auth0Service.isAuthenticated())" class=" inline_head">
        <a class="login navbar-brand" (click)="auth0Service.logout()">{{ 'Logout' | translate:lang }}</a>
      </div>
        <a class="fa fa-2x fa-cog confButton dropdown-toggle" data-toggle="dropdown"></a>
        <span class="caret" style=" visibility: hidden;"></span>
        <ul role="menu" class="dropdown-menu">
          <li>
            <div style="text-align: center">
              <button (click)="selectLanguage('ru');" style="padding: 0px"><img src="https://vignette4.wikia.nocookie.net/battlefield/images/d/d4/Flag_of_Russia.png/revision/latest?cb=20111126150020&path-prefix=ru"
                           height="25" width="55"></button>
              <button (click)="selectLanguage('en');" style="padding: 0px"><img src="http://2.bp.blogspot.com/-btFhid7OXAk/VY4nA-XOiHI/AAAAAAAAAho/MWHp8L5Xiqs/s1600/640px-Flag_of_the_United_States.svg.png"
                                                height="25" width="55"></button>
              </div>
          </li>
          <li>
            <div></div>
          </li>
        </ul>
    </div>

    <!--</form>-->


    <!--</div>-->
  </div>
</div>

