.main-image-wrap {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}

.main-image-wrap img {
  width: 256px;
  height: 256px;
  border-radius: 6px;
}

.header-wrap {
  margin-top: 30px;
  width: 550px;
  display: inline-block;
}

.tag {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05rem;
  color: #444;
  border-radius: 16px;
  transition: all 0.3s;
  margin: 0.1rem 0.3rem 0.1rem 0;
  padding: 0.08rem 0.45rem;
  height: 32px;
  line-height: 34px;
  background: #efefef;
  user-select: none;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
}

.modallist {
  border: none;
}

.div_right_arrow {
  position: fixed;
  top: 45%;
  right: 6%;
  z-index: 9999;
}

.div_left_arrow {
  position: fixed;
  top: 45%;
  left: 6%;
  z-index: 9999;
}

.arrow {
  font-size: 60px;
  color: #eee;
  text-decoration: none;
}

.arrow :hover {
  font-size: 60px;
  color: #cccccc ;
  text-decoration: none;
}

.comment_btn {
  margin-top: 7px;
}

.avatar {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.comment_wrap {
  text-align: left;
}

.comment_username {
  margin-bottom: 5px;
  margin-top: 0px;
  display: inline-block;
}

.comment_text {
  font-size: 12px;
  word-wrap: break-word;
}

.comment_inline {
  display: inline-block;
}

.date {
  position: absolute;
  top: -4px;
  right: 5px;
  color: #9d9d9d;
}

.minimal_height {
  min-width: 100px;
}

.word_break {
  word-wrap: break-word;
}
