.main-image-wrap {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}

.main-image-wrap img {
  width: 256px;
  height: 256px;
  border-radius: 6px;
}

.header-wrap {
  margin-top: 30px;
  width: 550px;
  display: inline-block;
}

.photobtn {
  margin-top: 20px;
  text-align: center;
}

.input_step {
  width:100%;
}

.elem-delete {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 20px;
  color: darkred;
  text-align: center;
  transition: all 0.9s;
}

.elem-delete:hover{
  background-color: darkred;
  color: #FFFFFF;
}
