.main-image-wrap {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}

.main-image-wrap img {
  width: 256px;
  height: 256px;
  border-radius: 6px;
}

.header-wrap {
  margin-top: 30px;
  width: 550px;
  margin-left: 30px;
  display: inline-block;
}


