<div class="main-image-wrap">
  <cl-image [public-id]="manual.image" [cloud-name]="uploader.cloudName" width="256" height="256"></cl-image>
  <div class="photobtn">
    <label title="Add photo" class="btn btn-primary btn-lg">
      <span class="glyphicon glyphicon-picture " style="color:aliceblue"></span>
      Поменять фотку, епта
      <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (change)="upload()" />
    </label>
  </div>

</div>

<div class="header-wrap">
  <h1 #nameTag contenteditable="true" (blur)="infoChanged()">{{manual.name}}</h1>
  <h5 #introductionTag contenteditable="true" (blur)="infoChanged()">{{manual.introduction}}</h5>
</div>


