<div class="filters-block">
  <div class="filter-item">
    <h4>Category: </h4>
    <select class="form-control">
      <option>Category 1</option>
      <option>Category 2</option>
      <option>Category 3</option>
      <option>Category 4</option>
    </select>
  </div>
  <div class="filter-item">
    <h4>Date from: </h4>
    <input class="form-control" type="date" name="bday">
  </div>
  <div class="filter-item">
    <h4>Date to: </h4>
    <input class="form-control" type="date" name="bday">
  </div>

</div>

<div class="tabs">
  <a href="f">
    <span>Manuals</span>
  </a>
  <a href="f">
    <span>Users</span>
  </a>
</div>

<div class="search-result">

  <div *ngFor="let user of users;" class="user-div">
    <a href="/lesson/Tools-and-Supplies-1/" title="title">
      <img class="user-img" src="{{user.image}}">
    </a>
    <div>
      <a [routerLink]="['/user', user.id]"><h4>{{user.username}}</h4></a>
      <div class="rate-wrap">
        <img src="http://k.foto.radikal.ru/0701/673d2b816949.jpg" style="max-height: 30px">
      </div>
      <h5><span class="label label-danger">{{user.manualAmount}} manuals</span> <span class="label label-primary">{{user.commentAmount}}comments</span>
      </h5>
    </div>
  </div>


  <div class="lesson-summary" *ngFor="let manual of manuals; let i = index" infinite-scroll [infiniteScrollThrottle]="2000" (scrolled)="onScroll()">
    <div>
      <a href="/lesson/Tools-and-Supplies-1/" title="What You'll Need &amp; Learn"
         class="lesson-thumbnail login-required" data-sourcea="class:viewLesson">
        <img class="lesson" src="{{manual.image}}">
      </a>
      <div>
        <h2>{{manual.name}}</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by {{manual.username}}</h5>
        <h5> {{manual.date}}</h5>
        <h5><span *ngFor="let tag of manual.tagNames; " class="label label-danger">{{tag}}</span></h5>
        <p>{{manual.introduction}}</p>
      </div>
      <div class="rating">
        <div class="rating_uparrow">
          <button class="btn btn-default button_arrow"  (click)="estimate(1, manual.id, 1, i)" [disabled]="!checkEestimatedManuals()"><i class="fa fa-2x fa-long-arrow-up  button_uparrow" aria-hidden="true"></i></button>
        </div>
        <div>
          <h3 class="rating_num">{{manual.rating}}</h3>
        </div>
        <div class="">
          <button class="btn btn-default button_arrow" (click)="estimate(1, manual.id, -1, i)"><i class="fa fa-2x fa-long-arrow-down  button_downarrow" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>


