<div class="search-result">

  <div class="lesson-summary" *ngFor="let manual of manuals; let i = index">
    <div>
      <a [routerLink]="['/editinstruction/', manual.id]" title="{{manual.name}}"
         class="lesson-thumbnail login-required" data-sourcea="class:viewLesson" *ngIf="(userId == manual.userId || userRole === 'ROLE_ADMIN')">
        <img class="lesson" src="{{manual.image}}">
      </a>
      <a [routerLink]="['/manual/', manual.id]" title="{{manual.name}}"
         class="lesson-thumbnail login-required" data-sourcea="class:viewLesson" *ngIf="!(userId == manual.userId || userRole === 'ROLE_ADMIN')">
        <img class="lesson" src="{{manual.image}}">
      </a>
      <div>
        <a [routerLink]="['/editinstruction/', manual.id]" class="manualLink" *ngIf="(userId == manual.userId || userRole === 'ROLE_ADMIN')">
          <h2  class="overflow_div manualName">{{manual.name}}</h2>
        </a>
        <a [routerLink]="['/manual/', manual.id]" class="manualLink" *ngIf="!(userId == manual.userId || userRole === 'ROLE_ADMIN')">
          <h2  class="overflow_div manualName">{{manual.name}}</h2>
        </a>
        <div class="overflow_div tag_div">
          <span *ngFor="let tag of manual.tags" class="tag label label-danger" [routerLink]="['/search', '@' + tag.name]">{{tag.name}}</span>
        </div>
        <h5 class="overflow_div username">Post by
          <a [routerLink]="['/user/', manual.userId]" class="manualLink"><strong>{{manual.username}}</strong></a>
        </h5>
        <h5 class="overflow_div date"><span class="glyphicon glyphicon-time"></span>  {{manual.date}}</h5>
        <div class="overflow_div"><i>{{manual.introduction}}</i></div>
      </div>
      <div class="likes-wrap">
        <a class="like" *ngIf="!checkEestimatedManuals(manual.id)" (click)="estimate( manual.id, 1)">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </a>
        <a class="disabled" *ngIf="checkEestimatedManuals(manual.id)">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </a>
        <h3 class="rating_num">{{manual.rating}}</h3>
        <a class="dislike" *ngIf="!checkEestimatedManuals(manual.id)" (click)="estimate( manual.id, -1)">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </a>
        <a class="disabled" *ngIf="checkEestimatedManuals(manual.id)" >
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </a>
      </div>
    </div>
  </div>
</div>


