.user-div h4 {
  margin-top: 15px;
  margin-bottom: 1px;
}

.user-div h5 {
  font-size: 13px;
  margin-top: 5px;
  color: #9d9d9d;
}

.filter-item {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: inline-block;
}

.filters-block {
  padding: 10px;
}

.form-control {
  width: auto;
}

.tabs a {
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 2px;
  margin-right: 5%;
  margin: 10px;
  border-bottom: #337ab7 solid 2px;
}

.tabs {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.49);
}

.lesson-summary {
  background: #FFFFFF;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  height: 150px;
  width: 430px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.lesson-summary h2 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.lesson-summary h5 {
  margin-top: 0px;
  margin-bottom: 4px;
}

.lesson {
  margin-right: 2%;
  height: 148px;
  width: 140px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  float: left;
  display: table-cell;
}

.button-wrap {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.user-div {
  background: #FFFFFF;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 430px;
  height: 90px;
  position: relative;
  display: inline-block;
}

.user-div h4 {
  margin-top: 15px;
  margin-bottom: 1px;
}

.user-div h5 {
  font-size: 13px;
  margin-top: 5px;
  color: #9d9d9d;
}

.user-img {
  margin-right: 2%;
  height: 88px;
  width: 88px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  float: left;
  display: table-cell;
}

.rate-wrap {
  position: absolute;
  top: 5px;
  right: 10px;
}
