

<div class="filters-block">
  <div class="filter-item">
    <h4>Category: </h4>
    <select class="form-control">
      <option>Category 1</option>
      <option>Category 2</option>
      <option>Category 3</option>
      <option>Category 4</option>
    </select>
  </div>
  <div class="filter-item">
    <h4>Date from: </h4>
    <input class="form-control" type="date" name="bday">
  </div>
  <div class="filter-item">
    <h4>Date to: </h4>
    <input class="form-control" type="date" name="bday">
  </div>

</div>

<div class="tabs">
  <a href="f">
    <span>Manuals</span>
  </a>
  <a href="f">
    <span>Users</span>
  </a>
</div>

<div class="search-result">

  <div *ngFor="let user of users;"  class="user-div">
    <a href="/lesson/Tools-and-Supplies-1/" title="title">
      <img class="user-img" src={{user.image}}>
    </a>
    <div>
      <h4>{{user.username}}</h4>
      <div class="rate-wrap">
        <img src="http://k.foto.radikal.ru/0701/673d2b816949.jpg" style="max-height: 30px">
      </div>
      <h5>@nareykov</h5>
      <h5><span class="label label-danger">{{user.manualAmmount}} manuals</span> <span class="label label-primary">{{user.commentAmmount}}comments</span></h5>
    </div>
  </div>



  <div class="lesson-summary">
    <a href="/lesson/Tools-and-Supplies-1/" title="What You'll Need &amp; Learn" class="lesson-thumbnail login-required" data-sourcea="class:viewLesson">
      <img class="lesson" src="https://cdn.instructables.com/FXG/AGTM/J4OFUV9X/FXGAGTMJ4OFUV9X.SMALL.jpg">
    </a>
    <div>
      <h2>I Love Food</h2>
      <img src="http://k.foto.radikal.ru/0701/673d2b816949.jpg" style="max-height: 30px">
      <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5>
      <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
      <div class="button-wrap" style="padding: 20px 0 0;">
        <button type="button" class="btn btn-default">Read more</button>
      </div>
    </div>
  </div>

  <div class="lesson-summary">
    <a href="/lesson/Tools-and-Supplies-1/" title="What You'll Need &amp; Learn" class="lesson-thumbnail login-required" data-sourcea="class:viewLesson">
      <img class="lesson" src="https://cdn.instructables.com/F1L/GGXJ/J4YFRQUF/F1LGGXJJ4YFRQUF.SMALL.jpg">
    </a>
    <div>
      <h2>Officially Blogging</h2>
      <img src="http://k.foto.radikal.ru/0701/673d2b816949.jpg" style="max-height: 30px">
      <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
      <h5><span class="label label-success">Lorem</span></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="button-wrap" style="padding: 20px 0 0;">
        <button type="button" class="btn btn-default">Read more</button>
      </div>
    </div>
  </div><div class="lesson-summary">
  <a href="/lesson/Tools-and-Supplies-1/" title="What You'll Need &amp; Learn" class="lesson-thumbnail login-required" data-sourcea="class:viewLesson">
    <img class="lesson" src="https://cdn.instructables.com/FXG/AGTM/J4OFUV9X/FXGAGTMJ4OFUV9X.SMALL.jpg">
  </a>
  <div>
    <h2>I Love Food</h2>
    <img src="http://k.foto.radikal.ru/0701/673d2b816949.jpg" style="max-height: 30px">
    <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
    <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5>
    <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
    <div class="button-wrap" style="padding: 20px 0 0;">
      <button type="button" class="btn btn-default">Read more</button>
    </div>
  </div>
</div>

  <div class="lesson-summary">
    <a href="/lesson/Tools-and-Supplies-1/" title="What You'll Need &amp; Learn" class="lesson-thumbnail login-required" data-sourcea="class:viewLesson">
      <img class="lesson" src="https://cdn.instructables.com/F1L/GGXJ/J4YFRQUF/F1LGGXJJ4YFRQUF.SMALL.jpg">
    </a>
    <div>
      <h2>Officially Blogging</h2>
      <img src="http://k.foto.radikal.ru/0701/673d2b816949.jpg" style="max-height: 30px">
      <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
      <h5><span class="label label-success">Lorem</span></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="button-wrap" style="padding: 20px 0 0;">
        <button type="button" class="btn btn-default">Read more</button>
      </div>
    </div>
  </div>
</div>
