<div class="header">

  <img class="avatar img-rounded" src={{userProfile.image}}>
  <div class="fullname-wrap">
    <h1 #usernameTag contenteditable="true" (blur)="infoChanged()">{{userProfile.username}}</h1>
  </div>
  <div class="inf">
    <p>Страна: <font #originTag contenteditable="true" (blur)="infoChanged()">{{userProfile.origin}}</font></p>
    <p>Последняя активность: 12.34.2345</p>
    <p>Зарегистрирован: {{userProfile.date}}</p>
  </div>

</div>

<div class="photobtn">
  <label title="Add photo" class="button_change_photo btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-picture " style="color:aliceblue"></span>
    Поменять фотку
    <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (change)="upload()" />
  </label>
</div>

<div class="medals">
  <div class="medal" *ngFor="let medal of userProfile.medals; let i = index">
    <img class="medal" src="{{medal.image}}" data-toggle="tooltip" data-placement="bottom" title="{{medal.text}}">
  </div>

</div>

<hr>

<div class="lesson-summary" *ngFor="let manual of userProfile.manualDTOS; let i = index">
  <a href="/lesson/Tools-and-Supplies-1/" title="What You'll Need &amp; Learn" class="lesson-thumbnail login-required" data-sourcea="class:viewLesson">
    <cl-image class="lesson" [cloud-name]="uploader.cloudName" [public-id]="manual.image" width="140" height="148"></cl-image>
  </a>
  <div>
    <h2 [routerLink]="['/editinstruction/', manual.id]" class="overflow_div manualName">{{manual.name}}</h2>
    <h5 class="overflow_div username"><span class="glyphicon glyphicon-time"></span> Post by {{manual.username}}, {{manual.date}}.</h5>
    <h5 class="overflow_div date"><span *ngFor="let tag of manual.tags" class="tag label label-danger">{{tag.name}}</span> </h5>
    <p class="overflow_div">{{manual.introduction}}</p>
  </div>
  <div class="likes-wrap">
    <a class="like">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </a>
    <h3 class="rating_num">{{manual.rating}}</h3>
    <a class="dislike">
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </a>
  </div>

  <span class="elem-delete" (click)="deleteManual(i)"><i class="fa fa-times" aria-hidden="true"></i></span>
</div>

<div class="newButtonDiv">
  <button type="button" class="btn btn-primary" (click)="newInstruction()">+ New instruction</button>
</div>
