.lesson-summary {
  background: #FFFFFF;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  height: 150px;
  width: 430px;
  position: relative;
  display: inline-block;
}

.newButtonDiv {
  background: #FFFFFF;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  height: 150px;
  width: 420px;
  position: relative;
  display: inline-block;
}

.newButtonDiv button{
  margin-top: 17px;
  margin-left: 40px;
  width: 340px;
  height: 50px;
}

.lesson-summary h2 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.lesson-summary h5 {
  margin-top: 0px;
  margin-bottom: 4px;
}

.lesson {
  margin-right: 2%;
  height: 148px;
  width: 140px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  float: left;
  display: table-cell;
}

.button-wrap {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.avatar {
  height: 160px;
  width: 160px;
  margin-right: 2%;
  float: left;
}

.headerInfo h5{
  font-size: 16px;
  margin-top: 5px;
}

.header h1 {
  margin-bottom: 4px;
}

.nickname {
  color: #9d9d9d;
  margin-bottom: 5px;
}

.medals {
  margin-top: 25px;
}

.medal {
  height: 55px;
}

.tabs a {
  text-decoration: none;
  font-size: 30px;
  padding-bottom: 4px;
  margin-right: 5%;
  margin: 10px;
  border-bottom: #337ab7 solid 2px;
}

.inf {
  font-size: initial;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 33px;
}

.fullname-wrap {
  display: inline-block;
}

.nickname-wrap {
  display: inline-block;
  margin-left: 10px;
}

.likes-wrap {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 2px;
}

.manual_content{
  height: 150px;
  width: 380px;

}

.likes-wrap {
  margin-right: 4px;
}

.like {
  font-size:24px;
  color: forestgreen;
  text-decoration: none;
}

.like :hover {
  font-size:24px;
  color: darkgreen;
  text-decoration: none;
}

.dislike {
  font-size:24px;
  color: #d9534f;
  text-decoration: none;
}

.dislike :hover {
  font-size:24px;
  color: red;
  text-decoration: none;
}

.rating_num {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 21px;
}

.overflow_div {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.elem-delete {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 20px;
  color: darkred;
  text-align: center;
  transition: all 0.9s;
}

.elem-delete:hover{
  background-color: darkred;
  color: #FFFFFF;
}

.date {
  font-size: 12px;
}

.tag {
  margin-right: 2px;
}

.manualName {
  margin-top: 3px;
  font-size: 22px;
}

.medal {
  display: inline-block;
}

.photobtn {
  display: inline-block;
  margin-top: 5px;
  text-align: center;
}

.button_change_photo {
  font-size: 15px;
  width: 160px;
}


