<div class="header">

  <img class="avatar img-rounded" src={{userProfile.image}}>
  <div class="fullname-wrap" *ngIf="userId == id || userRole === 'ROLE_ADMIN'">
    <h1 #usernameTag contenteditable="true" (blur)="infoChanged()">{{userProfile.username}}</h1>
  </div>
  <div class="fullname-wrap" *ngIf="!(userId == id || userRole === 'ROLE_ADMIN')">
    <h1 #usernameTag>{{userProfile.username}}</h1>
  </div>
  <div class="inf" *ngIf="(userId == id || userRole === 'ROLE_ADMIN')">
    <p>{{ 'Country' | translate:lang }}: <font #originTag contenteditable="true" (blur)="infoChanged()">{{userProfile.origin}}</font></p>
    <p>{{ 'Register' | translate:lang }}: {{userProfile.date}}</p>
  </div>
  <div class="inf" *ngIf="!(userId == id || userRole === 'ROLE_ADMIN')">
    <p>{{ 'Country' | translate:lang }}: <font #originTag>{{userProfile.origin}}</font></p>
    <p>{{ 'Register' | translate:lang }}: {{userProfile.date}}</p>
  </div>

</div>

<div class="photobtn" *ngIf="userId == id || userRole === 'ROLE_ADMIN'">
  <label title="Add photo" class="button_change_photo btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-picture " style="color:aliceblue"></span>
    {{ 'Change Photo' | translate:lang }}
    <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (change)="upload()" />
  </label>
</div>

<div class="medals">
  <div class="medal" *ngFor="let medal of userProfile.medals; let i = index">
    <img class="medal" src="{{medal.image}}" data-toggle="tooltip" data-placement="bottom" title="{{medal.text}}">
  </div>

</div>

<hr>

<div class="lesson-summary" *ngFor="let manual of userProfile.manualDTOS; let i = index">
  <a [routerLink]="['/editinstruction/', userId, manual.id]" title="{{manual.name}}" *ngIf="userId == id || userRole === 'ROLE_ADMIN'" class="lesson-thumbnail login-required" data-sourcea="class:viewLesson">
    <img class="lesson" src="{{manual.image}}">
  </a>
  <a [routerLink]="['/manual/', manual.id]" title="{{manual.name}}" *ngIf="!(userId == id || userRole === 'ROLE_ADMIN')" class="lesson-thumbnail login-required" data-sourcea="class:viewLesson">
    <img class="lesson" src="{{manual.image}}">
  </a>
  <div>
    <a [routerLink]="['/editinstruction/', userId, manual.id]" class="manualLink" *ngIf="(userId == manual.userId || userRole === 'ROLE_ADMIN')">
      <h2  class="overflow_div manualName">{{manual.name}}</h2>
    </a>
    <a [routerLink]="['/manual/', manual.id]" class="manualLink" *ngIf="!(userId == manual.userId || userRole === 'ROLE_ADMIN')">
      <h2  class="overflow_div manualName">{{manual.name}}</h2>
    </a>
    <div class="overflow_div tag_div">
      <span *ngFor="let tag of manual.tags" class="tag label label-danger" [routerLink]="['/search', '@' + tag.name]">{{tag.name}}</span>
    </div>
    <h5 class="overflow_div username">{{ 'Post by' | translate:lang }}
      <a [routerLink]="['/user/', manual.userId]" class="manualLink"><strong>{{manual.username}}</strong></a>
    </h5>
    <h5 class="overflow_div date"><span class="glyphicon glyphicon-time"></span>  {{manual.date}}</h5>
    <div class="overflow_div"><i>{{manual.introduction}}</i></div>
  </div>
  <div class="likes-wrap">
    <a class="like" *ngIf="!checkEestimatedManuals(manual.id)" (click)="estimate( manual.id, 1)">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </a>
    <a class="disabled" *ngIf="checkEestimatedManuals(manual.id)">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </a>
    <h3 class="rating_num">{{manual.rating}}</h3>
    <a class="dislike" *ngIf="!checkEestimatedManuals(manual.id)" (click)="estimate( manual.id, -1)">
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </a>
    <a class="disabled" *ngIf="checkEestimatedManuals(manual.id)" >
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </a>
  </div>

  <span class="elem-delete" (click)="deleteManual(i)" *ngIf="userId == id || userRole === 'ROLE_ADMIN'"><i class="fa fa-times" aria-hidden="true"></i></span>
</div>

<div class="newButtonDiv" *ngIf="userId == id || userRole === 'ROLE_ADMIN'">
  <button type="button" class="btn btn-primary" (click)="newInstruction()">+ {{ 'New Instruction' | translate:lang }}</button>
</div>
