.header{
  text-align: center;
}

.glyphicon {
  font-size: 30px;
  display: inline-block;
}
.buttonDiv{

  text-align: center;
}

.buttonSpan{

}

.input_url-line{
  width:100%;
}

.elem-delete {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 20px;
  color: darkred;
  text-align: center;
  transition: all 0.9s;
}

.elem-delete:hover{
  background-color: darkred;
  color: #FFFFFF;
}
