.header{
  text-align: center;
}

.glyphicon {
  font-size: 30px;
  display: inline-block;
}
.buttonDiv{

  text-align: center;
}

.buttonSpan{

}

.input_url-line{
  width:100%;
}

.elem-delete {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 20px;
  color: darkred;
  text-align: center;
  transition: all 0.9s;
}

.elem-delete:hover{
  background-color: darkred;
  color: #FFFFFF;
}

.div_image {
  display: inline-block;
  position: relative;
}

.div_effects {
  position: absolute;
  top: 0px;
  right: -40px;
}

.div_effects a {
  text-decoration: none;
}

.empty {
  margin-right: -6px;
  font-size: 33px;
  color: gray;
}

.empty :hover {
  color: #444444;
}

.black {
  margin-right: -2px;
  color: black;
}

.black :hover {
  color: #444444;
}

.sun {
  color: orange;
}

.sun :hover{
  color: chocolate;
}

.word_wrap {
  word-wrap: break-word;
}
