.buttons {
  display: inline-block;
}

.buttons button {
  color: #FFFFFF;
  margin-bottom: 10px;
  width: 250px;
  height: 50px;
  font-size: large;
}

.btn-vk {
  background-color: darkslateblue;;
}

.btn-vk:hover {
  color: #FFFFFF;
}
