<div id="uLogin" data-ulogin="display=buttons;fields=first_name,last_name;redirect_uri=http%3A%2F%2F;">
  <div class="buttons">
    <button data-uloginbutton = "facebook" class="btn btn-large btn-facebook btn-primary " data-loading-text="<span class='grey-spinner'></span>">Facebook</button><br>
    <button data-uloginbutton = "vkontakte" class="btn btn-large btn-vk " data-loading-text="<span class='grey-spinner'></span>">VK</button><br>
    <button data-uloginbutton = "googleplus" class="btn btn-large btn-google btn-danger" data-loading-text="<span class='grey-spinner'></span>">Google+</button><br>
    <button data-uloginbutton = "twitter" class="btn btn-large btn-twitter btn-info" data-loading-text="<span class='grey-spinner'></span>">Twitter</button>
  </div>
</div>
