.user-div {
  background: #FFFFFF;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 430px;
  height: 90px;
  position: relative;
  display: inline-block;
}

.user-div h4 {
  margin-top: 15px;
  margin-bottom: 1px;
}

.user-div h5 {
  font-size: 13px;
  margin-top: 5px;
  color: #9d9d9d;
}

.user-img {
  margin-right: 2%;
  height: 88px;
  width: 88px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  float: left;
  display: table-cell;
}

.username {
  text-decoration: none;
  color: black;
}

.rating{
  position: absolute;
  top:0px;
  right:5px;
  width: 40px;
  height: 150px;
}
