<div class="search-result">

  <div *ngFor="let user of users;" class="user-div">
    <a [routerLink]="['/user', user.id]" title="{{user.username}}">
      <img class="user-img" src="{{user.image}}">
    </a>
    <div>
      <a [routerLink]="['/user', user.id]" class="username"><h4>{{user.username}}</h4></a>
      <h5><span class="label label-danger">{{user.manualAmount}} {{ 'Manuals' | translate:lang }}</span> <span class="label label-primary">{{user.commentAmount}} {{ 'Comments' | translate:lang }}</span>
      </h5>
    </div>
  </div>
</div>
