.filter-item {
  display: -webkit-inline-box;
}

.form-control {
  width: auto;
}

.tabs a {
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 2px;
  margin-right: 5%;
  margin: 10px;
  border-bottom: #337ab7 solid 2px;
}

.lesson-summary {
  background: #FFFFFF;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  height: 150px;
  width: 430px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.lesson-summary h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.lesson-summary h5 {
  margin-top: 0px;
  margin-bottom: 4px;
}

.lesson {
  margin-right: 2%;
  height: 148px;
  width: 140px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  float: left;
  display: table-cell;
}

.button-wrap {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.search-result {
  padding-top: 20px;
  padding-left: 0px;
}

.user-div h4 {
  margin-top: 15px;
  margin-bottom: 1px;
}

.user-div h5 {
  font-size: 13px;
  margin-top: 5px;
  color: #9d9d9d;
}

.form-control {
  margin-left: 10px;
}

.posted{
  margin-top:10px !important;
}

.rating{
  position: absolute;
  top:0px;
  right:5px;
  width: 40px;
  height: 150px;
}

.manual_content{
  height: 150px;
  width: 380px;

}

.button_arrow{
  border-radius: 5px !important;
  border-color: #FFFFFF !important;
}

.button_arrow:hover{
  background-color: white;
}

.rating div{
  display: block;
}

.rating_num{
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  padding-right: 1px;
}

.rating_uparrow {
  margin-top: 10px;
}

.button_uparrow:hover{
  color: chartreuse;
}

.button_downarrow:hover{
  color: red;
}


