<h1>Most popular manuals</h1>

<div class="filter-item">
  <h4>Category:</h4>
  <select class="form-control">
    <option>Category 1</option>
    <option>Category 2</option>
    <option>Category 3</option>
    <option>Category 4</option>
  </select>
</div>

<div class="search-result">
  <div class="lesson-summary">
    <a href="/lesson/Tools-and-Supplies-1/" title="What You'll Need &amp; Learn" class="lesson-thumbnail login-required" data-sourcea="class:viewLesson">
      <img class="lesson" src="https://cdn.instructables.com/F1L/GGXJ/J4YFRQUF/F1LGGXJJ4YFRQUF.SMALL.jpg">
    </a>
    <div>
      <h2>Officially Blogging</h2>
      <img src="http://k.foto.radikal.ru/0701/673d2b816949.jpg" style="max-height: 30px">
      <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
      <h5><span class="label label-success">Lorem</span></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="button-wrap" style="padding: 20px 0 0;">
      </div>
    </div>
  </div>
</div>
